{% extends 'base.html' %}

{% block pageTitle %}Login{% endblock %}

{% block extrastyle %}
#content>header { padding: 15px 10%; }
#login { padding: 20px 10%; font-size: 14pt; }
#login_form { padding: 10px 5%; }
#login_form p { margin: 10px 0; }
#login_form p label { display: inline-block; width: 20%; text-align: right; padding-right: 5px; }
#login_form input[type='text'], #login_form input[type='password'] { padding: 3px; font-size: 14pt; border-radius: 3px; }
#login_form input[type='submit'] { padding: 10px 20px; font-size: 16pt; }
{% endblock %}

{% block content %}
  <header><h1>Login</h1></header>
<section id="login">
  <p>To login to this site, simply enter your username and password below.</p>

{% if form.non_field_errors %}
  {{ form.non_field_errors }}
{% endif %}

  <form id="login_form" method="post" action=".">{% csrf_token %}
{% if next %}
    <input name="next" value="{{next}}" type="hidden">
{% endif %}
{{ form.as_p }}
    <p>
      <input value="Login" type="submit">
    </p>
  </form>
</section>
{% endblock %}
