{% extends 'dashboard/base.html' %}

{% load images %}

{% block page_title %}Pictures{% endblock %}

{% block extrastyle %}
#content ol { margin-left: 50px; }
#content ol li { font-size: 12pt; margin: 3px 0; }
.options { width: 100px; height: 100px; position: absolute; top: 25px; left: 25px; text-align: center; display: none; }
.options>p { margin: 10px 0; padding: 3px; }
.used { position: absolute; top: 3px; left: 3px; padding: 3px; 
        font-size: 14pt; text-align: center; vertical-align: middle; }
.used>a { text-decoration: none; color: white; }
.remove_x { position: absolute; top: 3px; right: 3px; padding: 3px 5px; text-align: center; }
.photo { float: left; margin: 2px; position: relative; vertical-align: middle; text-align: center; }
.category { border: 2px solid #151515; padding: 5px; margin-bottom: 5px; }
.edit, .remove { cursor: pointer; }
article>header { border-bottom: 2px solid #151515; color: #151515; width: 100%; padding: 0; text-align: center; }
article>header a { color: inherit; }
{% endblock %}

{% block content %}
<header>
  <h1>Pictures</h1>
  <p>Categorise, edit and remove pictures from the site.</p>
</header>

<article class="clearfix category round10" id="uncategorised">
  <header>
    <h1>Uncategorised ({{uncat|length}})</h1>
  </header>
  {% for p in uncat %}
  <div class="photo" data-id="{{p.id}}">
  {% getImageTag p "Square" %}
    <div class="options">
      <p class="overlay edit round10">edit</p>
      <p class="overlay remove round10">remove</p>
    </div>
  </div>
  {% endfor %}

</article>

{% for c in cats %}
<article class="clearfix category round10" id="{{c.slug}}">
  <header>
    <h1><a href="{% url category_edit c.slug%}">{{c.name}}</a> ({{c.photos.count}})</h1>
  </header>
  {% for p in c.photos.all %}
  <div class="photo" data-id="{{p.id}}">
  {% getImageTag p "Square" %}
    <div class="options">
      <p class="overlay edit round10">edit</p>
      <p class="overlay remove round10">remove</p>
    </div>
  </div>
  {% endfor %}
</article>
{% endfor %}
{% endblock %}

{% block extrascript %}
$(document).on({
  mouseenter: function() { $(this).find('.options').show(); },
  mouseleave: function() { $(this).find('.options').hide(); },
}, '.photo');
$("article>div").draggable({ opacity: 0.7, scroll: true,
appendTo: 'body'
});
$("article").droppable({ 
  drop: function( event, ui ) {
    event.stopPropagation(); event.preventDefault();
    var el = ui.draggable;
    var tgt = $(this);
    $.ajax({url: '{% url category_ajax %}', type: 'post', 
            data: {'id': el.attr('data-id'), 'slug': tgt.attr('id'), 
                   'action': 'move'},
            success: function() {
              el.remove().css({'left': 0, 'top': 0}).appendTo(tgt)
                .draggable({opacity: 0.7});
              el.find('.options').hide();
            }
           });
  }
});
var edit_url = '{% url photo_edit '12345' %}';
$(document).on({
  click: function() {
     var el = $(this).parent().parent();
     window.location.href = edit_url.replace('12345', el.attr('data-id'));
  }
}, '.edit');
$(document).on({
  click: function() {
           var el = $(this);
           var tgt = el.parent().parent();
           if (confirm("Please confirm you wish to remove this image?")) {
             $.ajax({url: '{% url picture_ajax %}', type: 'post',
                     data: {'action': 'remove', 'id': tgt.attr('data-id')},
                     success: function() { tgt.fadeOut('slow', function() { tgt.remove(); }); }
                    });
           }
         }
}, '.remove');
{% endblock %}
