{% extends 'dashboard/base.html' %}

{% load images %}

{% block page_title %}Upload Pictures{% endblock %}

{% block content %}
<header>
  <h1>Upload Pictures</h1>
  <p>Upload pictures to the site.</p>
</header>

    <article>
      <header>
        <h1>Upload A Picture</h1>
      </header>
      <ol>
        <li>Select the picture file</li>
        <li>Enter a title (if desired)</li>
        <li>Choose a category (if desired)</li>
        <li>Click Upload</li>
      </ol>
<form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<p><label>&nbsp;</label><input type="submit" class="aButton" value="Upload"/></p>
</form>
    </article>
{% endblock %}

{% block extrastyle %}
#content ol { margin-left: 50px; }
#content ol li { font-size: 12pt; margin: 3px 0; }
{% endblock %}

